h2 {
    display: flex;
    justify-content: center;
    /* border: 2px red solid; */
    margin: 0;
}

body {
    margin: 0;
}

.arm {
    width: 100%;
    height: 3000px;
    /* border: 2px solid orange; */
    display: flex;
}

.arm .container {
    /* border: 2px solid blue; */
    width: 17%;
    height: 100%;
    margin: 0;
    background-color: rgb(134, 64, 64);
    position: fixed;
}

.arm .container .perfil img {
    border-radius: 50%;
    border: 2px solid yellow;
    width: 80%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* height: 80%; */
    margin: 9% 10%;
}

.arm .container .perfil .descricao {
    /* border: 2px solid gold; */
    width: 80%;
    margin: 0 10%;
    background-color: rgb(233, 159, 159);
    padding: 1%;
    height: 170px;
}

.arm .container .perfil .descricao button {
    /* border: 1px solid purple; */
    width: 80%;
    margin: 0 10%;
    height: 30px;
    background-color: rgb(156, 102, 102);
    padding: 1%;
    color: white;
}

.arm .container .perfil .botao {
    /* border: 2px solid green; */
    margin: 90% 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 70%;
}

.arm .container .perfil .sair {
    /* border: 2px solid blue; */
    width: 200%;
    height: 100%;
    font-size: 20px;
    background-color: rgb(252, 214, 214);
    border-radius: 10px;
    margin-right: 10%;
}

#id_sair:hover {
    background-color: rgb(129, 20, 20);
    color: white;
    transition: 0.5s;
    opacity: 0.7;
}

.arm .tela {
    /* border: 2px solid purple; */
    width: 100%;
    height: 100%;
    background-color: rgb(211, 150, 150);
    overflow: hidden;
    margin: 0 0 0 17%;
}

.arm .tela .metricas {
    width: 100%;
    height: 15%;
    /* border: 2px solid green; */
    display: flex;
}

.arm .tela .metricas .tabelas {
    /* border: 2px solid gold; */
    height: 100%;
    width: 100%;
}

.arm .tela .metricas .tabelas .dados {
    /* border: 2px solid purple; */
    width: 75%;
    height: 15%;
    display: flex;
    margin: 0 12.5%;
}

.arm .tela .metricas .tabelas .junior {
    border: 2px solid green;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.arm .tela .metricas .tabelas .junior .titulo {
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(134, 64, 64);
    color: white;
}

.arm .tela .metricas .tabelas .junior .primeira {
    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.arm .tela .metricas .tabelas .junior .segunda {
    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 132, 55);
}

.arm .tela .metricas .tabelas .junior .terceira {
    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 122, 68);
    color: white;
}

.arm .tela .metricas .tabelas .junior .quarta {
    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 22, 143);
    color: white;
}

.arm .tela .metricas .tabelas .junior .quinta {
    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.arm .tela .metricas .tabelas .treino {
    /* border: 2px solid purple; */
    margin: 2% 0;
    height: 40%;
}

.arm .tela .metricas .tabelas .treino p {
    font-size: 19px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 1% 30%;
    background-color: rgb(134, 64, 64);
    color: white;
}

.arm .tela .metricas .tabelas .treino .campo {
    /* border: 2px solid green; */
    height: 22%;
    margin: 0 14%;
    width: 20%;
    /* border-radius: 10px; */
}

.arm .tela .metricas .tabelas .treino button {
    width: 18%;
    height: 20%;
    /* margin: 1.5% 37.5%; */
    font-size: 17px;
    margin: 0 41%;
    border-radius: 10px;
    background-color: rgb(139, 78, 78);
    color: white;
}

#id_botaoKata:hover {
    background-color: rgb(129, 20, 20);
    color: white;
    transition: 0.5s;
    opacity: 0.7;
}

.arm .tela .graficoTreinos {
    height: 20%;
    /* border: 2px solid slateblue; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pxmFaixa {
    /* border: 2px solid palegreen; */
    width: 40%;
}

.arm .tela .graficoTreinos .classificacao {
    /* border: 1px solid mediumspringgreen; */
    height: 18%;
    /* font-size: 20px; */
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    /* margin: 5% 0; */
}

.arm .tela .graficoTreinos .classificacao h2 {
    /* border: 2px solid red; */
    width: 40%;
    background-color: rgb(134, 64, 64);
    color: white;
    border-radius: 10px;
    margin: 2% 0;
    height: 25%;
}

.arm .tela .graficoTreinos .classificacao .descricaoKarateca {
    /* border: 2px solid yellowgreen; */
    height: 35%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1% 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.arm .tela .graficoTreinos .grafico {
    /* border: 2px solid blue; */
    height: 60%;
    width: 50%;
}

.melhorar {
    /* border: 2px solid purple; */
    height: 7%;
}

.melhorar h2 {
    /* border: 2px solid yellow; */
    height: 14%;
    font-size: 32px;
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 64, 64);
    color: white;
    margin: 0 36%;
}

.melhorar .melhorias {
    /* border: 2px solid green; */
    height: 80%;
}

.melhorar .melhorias .campos {
    /* border: 2px solid firebrick; */
    height: 60%;
    width: 60%;
    margin: 1% 20%;
}

.melhorar .melhorias .titulo {
    /* border: 2px solid cornflowerblue; */
    font-size: 23px;
}

.melhorar .melhorias .campoMelhorar {
    /* border: 2px solid blue; */
    height: 20%;
    margin: 0 2%;

}

.melhorar .melhorias .botaoMelhorar {
    /* border: 2px solid red; */
    height: 17%;
    width: 15%;
    margin: 0 17%;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(139, 78, 78);
    color: white;
}

#id_botaoMelhorar:hover {
    background-color: rgb(151, 69, 69);
    color: white;
    transition: 0.5s;
    opacity: 0.7;
}

.tela .listandoMelhorias {
    /* border: 2px solid yellow; */
    font-size: 20px;
    width: 30%;
    margin: 0 35%;
}

.tela .listandoMelhorias h2 {
    /* border: 2px solid red; */
    width: 100%;
    background-color: rgb(134, 64, 64);
    color: white;
    border-radius: 10px;
    margin: 2% 0;
    height: 25%;
}

.janela-modal {
    width: 50%;
    height: 80%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(218, 174, 218, 0.5);
    border-radius: 4%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 5% 0 0 25%;
    padding: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modal {
    width: 40%;
    min-width: 400px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    overflow: auto;
    /* position: fixed; */
}

.fechar {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.janela-modal.abrir {
    display: flex;
}

@keyframes abrirModal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal {
    animation: abrirModal 0.5s;
}

.janela-modal .modal h1 {
    border: 1px solid black;
    margin: 1% 0;
    display: flex;
    justify-content: center;
}

.janela-modal .modal p {
    border: 1px solid red;
    font-size: 20px;
}

.janela-modal .modal input {
    border: 2px solid green;
    height: 9%;
    width: 70%;
    border-radius: 10px;
}

.janela-modal .modal .botao {
    border: 1px solid orange;
    width: 25%;
    height: 10%;
    margin: 0 37.5%;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(181, 134, 226);
}

.arm .modalAsso .modalassociacao .divModalAsso {
    /* border: 2px solid black; */
    height: 100%;
    width: 70%;
    margin: 0;
}

.arm .modalAsso .modalassociacao .divModalAsso h1 {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    margin: 0;
}

.arm .modalAsso .modalassociacao .divModalAsso span {
    /* border: 1px solid white; */
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.arm .modalAsso .modalassociacao .divModalAsso input {
    /* border: 2px solid yellowgreen; */
    height: 12%;
    border-radius: 8px;
    width: 100%;
}

.arm .modalAsso .modalassociacao .divModalAsso select {
    /* border: 1px solid blue; */
    height: 10%;
    border-radius: 8px;
    width: 70%;
    margin: 0 20%;
}

.arm .modalAsso .modalassociacao .divModalAsso .botao {
    /* border: 1px solid orange; */
    height: 12%;
    font-size: 15px;
    width: 35%;
    border-radius: 10px;
    margin: 5% 34%;
    background-color: rgb(129, 56, 56);
    color: white;
}

.arm .modalAsso .modalassociacao .divModalAsso .asso {
    /* border: 2px solid green; */
    width: 68%;
    margin: 0 16%;
}

.alerta_erro{
    display: flex;
    justify-content: flex-start;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #7588db 3px solid;
    padding: 10px;
    margin-left: 30%;
    margin-bottom: 40%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }