h2 {
    display: flex;
    justify-content: center;
    border: 2px red solid;
    margin: 1%;
}

body {
    margin: 0;
}

.arm {
    width: 100%;
    height: 700px;
    border: 2px solid orange;
    display: flex;
}

.arm .container {
    border: 2px solid blue;
    width: 17%;
    height: 100%;
    margin: 0;
    background-color: rgb(88, 47, 47);
}

.arm .container .perfil img {
    border-radius: 50%;
    border: 2px solid yellow;
    width: 80%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* height: 80%; */
    margin: 9% 10%;
}

.arm .container .perfil .descricao {
    border: 2px solid gold;
    width: 80%;
    margin: 0 10%;
    background-color: rgb(214, 143, 143);
    padding: 1%;
}

.arm .tela {
    border: 2px solid purple;
    width: 100%;
    height: 100%;
}

.arm .tela .metricas {
    width: 100%;
    height: 20%;
    border: 2px solid green;
    display: flex;
}

.arm .tela .metricas .competicao {
    border: 2px solid aqua;
    width: 30%;
    height: 100%;
    background-color: rgb(148, 86, 86);
    color: white;
}

.arm .tela .metricas p {
    font-size: 17px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
}

.arm .tela .metricas a {
    color: white;
    border: 1px solid yellow;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.arm .tela .metricas .kata {
    border: 2px solid salmon;
    width: 35%;
    height: 100%;
    background-color: rgb(148, 86, 86);
    color: white;
}

.arm .tela .metricas .kata p {
    border: 1px solid indigo;
    margin: 0;
    height: 30%;
}

.arm .tela .metricas .kata button {
    width: 30%;
    height: 20%;
    margin: 1% 5%;
}

.arm .tela .metricas .movimentos {
    border: 2px solid seagreen;
    width: 35%;
    height: 100%;
    background-color: rgb(148, 86, 86);
    color: white;
}

.arm .tela .graficoKata {
    height: 35%;
    border: 2px solid slateblue;
    width: 100%;
    display: flex;
}

.arm .tela .graficoKata p {
    border: 1px solid mediumspringgreen;
    height: 10%;
    font-size: 20px;
    margin: 2% 3%;
}

.arm .tela .graficoKata .kata {
    border: 2px solid teal;
    align-self: flex-end;
    display: flex;
}

.janela-modal {
    width: 50%;
    height: 80%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(218, 174, 218, 0.5);
    border-radius: 4%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 5% 0 0 25%;
    padding: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modal {
    width: 40%;
    min-width: 400px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    overflow: auto;
    /* position: fixed; */
}

.fechar {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.janela-modal.abrir {
    display: flex;
}

@keyframes abrirModal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal {
    animation: abrirModal 0.5s;
}

.janela-modal .modal h1 {
    border: 1px solid black;
    margin: 1% 0;
    display: flex;
    justify-content: center;
}

.janela-modal .modal p {
    border: 1px solid red;
    font-size: 20px;
}

.janela-modal .modal input {
    border: 2px solid green;
    height: 9%;
    width: 70%;
    border-radius: 10px;
}

.janela-modal .modal .botao {
    border: 1px solid orange;
    width: 25%;
    height: 9%;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(217, 185, 247);
}

.campo {
    border: 2px solid green;
    height: 20%;
    width: 70%;
    /* border-radius: 10px; */
}