h2 {
    display: flex;
    justify-content: center;
    /* border: 2px red solid; */
    margin: 0;
}

body {
    margin: 0;
}

.arm {
    width: 100%;
    height: 900px;
    border: 2px solid orange;
    display: flex;
}

.arm .container {
    border: 2px solid blue;
    width: 17%;
    height: 100%;
    margin: 0;
    background-color: rgb(134, 64, 64);
}

.arm .container .perfil img {
    border-radius: 50%;
    border: 2px solid yellow;
    width: 80%;
    max-width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* height: 80%; */
    margin: 9% 10%;
}

.arm .container .perfil .descricao {
    border: 2px solid gold;
    width: 80%;
    margin: 0 10%;
    background-color: rgb(233, 159, 159);
    padding: 1%;
    height: 170px;
}

.arm .container .perfil .descricao button {
    border: 1px solid purple;
    width: 80%;
    margin: 0 10%;
    height: 30px;
    background-color: rgb(134, 64, 64);
    padding: 1%;
    color: white;
}

.arm .tela {
    border: 2px solid purple;
    width: 100%;
    height: 100%;
}

.arm .tela .metricas {
    width: 100%;
    height: 25%;
    border: 2px solid green;
    display: flex;
}

.arm .tela .metricas .competicao {
    border: 2px solid aqua;
    width: 25%;
    height: 100%;
    background-color: rgb(168, 94, 94);
    color: white;
}

/* .arm .tela .metricas .competicao .data p {
    width: 100%;
} */

.arm .tela .metricas .competicao .data {
    border: 2px solid blue;
    height: 80%;
    /* margin: ; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.arm .tela .metricas .tabelas {
    border: 2px solid gold;
    height: 100%;
    width: 75%;
}

.arm .tela .metricas .tabelas .dados {
    border: 2px solid purple;
    width: 75%;
    height: 25%;
    display: flex;
    margin: 0 12.5%;
}

.arm .tela .metricas .tabelas .junior {
    border: 2px solid green;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.arm .tela .metricas .tabelas .junior .titulo {
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.arm .tela .metricas .tabelas .junior .primeira {
    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 174, 174);
}

.arm .tela .metricas .tabelas .junior .segunda {
    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 130, 130);
}

.arm .tela .metricas .tabelas .junior .terceira {
    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 86, 86);
}

.arm .tela .metricas .tabelas .junior .quarta {
    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 48, 48);
}

.arm .tela .metricas .tabelas .junior .quinta {
    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 29, 29);
}

.arm .tela .metricas .tabelas button {
    width: 25%;
    height: 15%;
    margin: 1.5% 37.5%;
    font-size: 17px;
    border-radius: 10px;
    background-color: rgb(243, 174, 174);
}

#id_botaoKata:hover {
    background-color: rgb(129, 20, 20);
    color: white;
    transition: 0.5s;
    opacity: 0.7;
}


.arm .tela .metricas p {
    font-size: 17px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 100%;
}

.arm .tela .metricas .movimentos p {
    font-size: 17px;
    border: 1px solid white;
    margin: 0;
    display: flex;
    justify-content: center;
}

.arm .tela .metricas a {
    color: white;
    border: 1px solid yellow;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.arm .tela .metricas .kata {
    border: 2px solid salmon;
    width: 37.5%;
    height: 100%;
    background-color: rgb(148, 86, 86);
    color: white;
}

.arm .tela .metricas .kata ul {
    border: 1px solid lawngreen;
    padding: 0px 10px;
}

.arm .tela .metricas .kata ul li {
    border: 1px solid indigo;
    /* margin: 0;
    height: 30%; */
    display: inline;
}

.arm .tela .metricas .kata button {
    width: 30%;
    height: 20%;
    margin: 1% 5%;
}

.arm .tela .metricas .movimentos {
    border: 2px solid seagreen;
    width: 37.5%;
    height: 100%;
    background-color: rgb(148, 86, 86);
    color: white;
}

.arm .tela .graficoKata {
    height: 50%;
    border: 2px solid slateblue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.arm .tela .graficoKata .classificacao {
    border: 1px solid mediumspringgreen;
    height: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.arm .tela .graficoKata .kata {
    border: 2px solid teal;
    /* display: flex; */
    /* margin: 40% 0; */
    width: 70%;
    height: 100%;
}

.janela-modal {
    width: 50%;
    height: 80%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(218, 174, 218, 0.5);
    border-radius: 4%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 5% 0 0 25%;
    padding: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modal {
    width: 40%;
    min-width: 400px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    overflow: auto;
    /* position: fixed; */
}

.fechar {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.janela-modal.abrir {
    display: flex;
}

@keyframes abrirModal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal {
    animation: abrirModal 0.5s;
}

.janela-modal .modal h1 {
    border: 1px solid black;
    margin: 1% 0;
    display: flex;
    justify-content: center;
}

.janela-modal .modal p {
    border: 1px solid red;
    font-size: 20px;
}

.janela-modal .modal input {
    border: 2px solid green;
    height: 9%;
    width: 70%;
    border-radius: 10px;
}

.janela-modal .modal .botao {
    border: 1px solid orange;
    width: 25%;
    height: 10%;
    margin: 0 37.5%;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(181, 134, 226);
}

.campo {
    border: 2px solid green;
    height: 20%;
    width: 70%;
    /* border-radius: 10px; */
}

.arm .modalAsso .modalassociacao .divModalAsso {
    /* border: 2px solid black; */
    height: 100%;
    width: 70%;
    margin: 0;
}

.arm .modalAsso .modalassociacao .divModalAsso h1 {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    margin: 0;
}

.arm .modalAsso .modalassociacao .divModalAsso span {
    /* border: 1px solid white; */
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.arm .modalAsso .modalassociacao .divModalAsso input {
    /* border: 2px solid yellowgreen; */
    height: 12%;
    border-radius: 8px;
    width: 100%;
}

.arm .modalAsso .modalassociacao .divModalAsso select {
    /* border: 1px solid blue; */
    height: 10%;
    border-radius: 8px;
    width: 70%;
    margin: 0 20%;
}

.arm .modalAsso .modalassociacao .divModalAsso .botao {
    /* border: 1px solid orange; */
    height: 12%;
    font-size: 15px;
    width: 35%;
    border-radius: 10px;
    margin: 5% 34%;
    background-color: rgb(129, 56, 56);
    color: white;
}

.arm .modalAsso .modalassociacao .divModalAsso .asso {
    /* border: 2px solid green; */
    width: 68%;
    margin: 0 16%;
}

.alerta_erro{
    display: flex;
    justify-content: flex-start;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #7588db 3px solid;
    padding: 10px;
    margin-left: 30%;
    margin-bottom: 40%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }