.modalImg1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: white; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    /* margin: 0 100% 0 0; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalImg1 .modal {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 40%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}

.modalImg1 .modal img {
    width: 80%;
}

.modalImg1.abrir {
    display: flex;
}

@keyframes abrirModal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal {
    animation: abrirModal 0.5s;
}

.fecharFoto {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* MODAL 2 */

.modalImg2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: white; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    /* margin: 0 100% 0 0; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalImg2 .modal2 {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 40%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}

.modalImg2 .modal2 img {
    width: 80%;
}

.modalImg2.abrir2 {
    display: flex;
}

@keyframes abrirModal2 {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir2 .modal2 {
    animation: abrirModal2 0.5s;
}

.fecharFoto2 {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* MODAL 3 */
.modalImg3 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: white; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    /* margin: 0 100% 0 0; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalImg3 .modal3 {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 40%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalImg3 .modal3 img {
    /* width: 80%; */
    height: 130%;
}

.modalImg3.abrir3 {
    display: flex;
}

@keyframes abrirModal3 {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir3 .modal3 {
    animation: abrirModal3 0.5s;
}

.fecharFoto3 {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* MODAL 4 */
.modalImg4 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: white; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    /* margin: 0 100% 0 0; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalImg4 .modal4 {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 60%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalImg4 .modal4 img {
    width: 65%;
    height: 100%;
}

.modalImg4.abrir4 {
    display: flex;
}

@keyframes abrirModal4 {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir4 .modal4 {
    animation: abrirModal4 0.5s;
}

.fecharFoto4 {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* MODAL 5 */
.modalImg5 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: white; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    /* margin: 0 100% 0 0; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalImg5 .modal5 {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 60%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalImg5 .modal5 img {
    width: 90%;
    height: 100%;
}

.modalImg5.abrir5 {
    display: flex;
}

@keyframes abrirModal5 {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir5 .modal5 {
    animation: abrirModal5 0.5s;
}

.fecharFoto5 {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* MODAL 6 */
.modalImg6 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: white; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    /* margin: 0 100% 0 0; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalImg6 .modal6 {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 60%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalImg6 .modal6 img {
    width: 120%;
    height: 100%;
}

.modalImg6.abrir6 {
    display: flex;
}

@keyframes abrirModal6 {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir6 .modal6 {
    animation: abrirModal6 0.5s;
}

.fecharFoto6 {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 5%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* ODS 3 */
.modalOds3 {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: white; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalOds3 .modalOdsDentro3 {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 60%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalOds3 .modalOdsDentro3 img {
    width: 120%;
    height: 100%;
}

.modalOds3.abrirOds3 {
    display: flex;
}

@keyframes abrirOds3 {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrirOds3 .modalOdsDentro3 {
    animation: abrirModal3 0.5s;
}

.fecharOds3 {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* ODS 8 */
.modalOds8 {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalOds8 .modal8 {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 60%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalOds8 .modal8 img {
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.modalOds8.abrir8 {
    display: flex;
}

@keyframes abrirOds8 {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir8 .modal8 {
    animation: abrirModal6 0.5s;
}

.fecharOds8 {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.escolhido .container .modalOds3 .modalOdsDentro3 .divModal3 {
    /* border: 1px solid green; */
    width: 100%;
    height: 70%;
}

.escolhido .container .modalOds3 .modalOdsDentro3 h2 {
    /* border: 1px solid red; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.escolhido .container .modalOds3 .modalOdsDentro3 p {
    /* border: 1px solid blue; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.escolhido .container .modalOds8 .modal8 .divModal8 {
    /* border: 1px solid green; */
    width: 100%;
    height: 80%;
}

.escolhido .container .modalOds8 .modal8 h2 {
    /* border: 1px solid red; */
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.escolhido .container .modalOds8 .modal8 p {
    /* border: 1px solid blue; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* FAIXAS */
.modalFaixa {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalFaixa .modalfaixa {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalFaixa .modalfaixa img {
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.modalFaixa.abrirfaixa {
    display: flex;
}

@keyframes abrirfaixa {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrirfaixa .modalfaixa {
    animation: abrirfaixa 0.5s;
}

.fecharfaixa {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* FAIXA AMARELA */
.modalFaixaAmarela {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalFaixaAmarela .modalfaixaamarela {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalFaixaAmarela .modalfaixaamarela img {
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.modalFaixaAmarela.abrirfaixaamarela {
    display: flex;
}

@keyframes abrirfaixaamarela {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrirfaixaamarela .modalfaixaamarela {
    animation: abrirfaixa 0.5s;
}

.fecharfaixaamarela {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* FAIXA VERMELHA */
.modalFaixaVerm {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalFaixaVerm .modalfaixaverm {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalFaixaVerm .modalfaixaverm img {
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.modalFaixaVerm.abrirfaixaverm {
    display: flex;
}

@keyframes abrirfaixaVerm {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrirfaixaverm .modalfaixaverm {
    animation: abrirfaixa 0.5s;
}

.fecharfaixaverm {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* FAIXA LARANJA */
.modalFaixaLara {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalFaixaLara .modalfaixalara {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalFaixaLara .modalfaixalara img {
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.modalFaixaLara.abrirfaixalara {
    display: flex;
}

@keyframes abrirfaixalara {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrirfaixalara .modalfaixalara {
    animation: abrirfaixa 0.5s;
}

.fecharfaixalara {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* FAIXA VERMELHA */
.modalFaixaVerm {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalFaixaVerm .modalfaixaverm {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalFaixaVerm .modalfaixaverm img {
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.modalFaixaVerm.abrirfaixaverm {
    display: flex;
}

@keyframes abrirfaixaVerm {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrirfaixaverm .modalfaixaverm {
    animation: abrirfaixa 0.5s;
}

.fecharfaixaverm {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* FAIXA LARANJA */
.modalFaixaVerde {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalFaixaVerde .modalfaixaverde {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalFaixaVerde .modalfaixaverde img {
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.modalFaixaVerde.abrirfaixaverde {
    display: flex;
}

@keyframes abrirfaixaverde {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrirfaixaverde .modalfaixaverde {
    animation: abrirfaixa 0.5s;
}

.fecharfaixaverde {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* FAIXA ROXA */
.modalFaixaRoxa {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalFaixaRoxa .modalfaixaroxa {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalFaixaRoxa .modalfaixaroxa img {
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.modalFaixaRoxa.abrirfaixaroxa {
    display: flex;
}

@keyframes abrirfaixaroxa {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrirfaixaroxa .modalfaixaroxa {
    animation: abrirfaixa 0.5s;
}

.fecharfaixaroxa {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* FAIXA MARROM */
.modalFaixaMarrom {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalFaixaMarrom .modalfaixamarrom {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modalFaixaMarrom .modalfaixamarrom img {
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.modalFaixaMarrom.abrirfaixamarrom {
    display: flex;
}

@keyframes abrirfaixamarrom {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrirfaixamarrom .modalfaixamarrom {
    animation: abrirfaixa 0.5s;
}

.fecharfaixamarrom {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.graduacoes .container .modalFaixaMarrom .modalfaixamarrom h2 {
    /* border: 1px solid red; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.graduacoes .container .modalFaixaMarrom .modalfaixamarrom p {
    /* border: 1px solid blue; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.graduacoes .container .modalFaixaMarrom .modalfaixamarrom .divFaixa {
    /* border: 1px solid green; */
    width: 100%;
    height: 70%;
}

.graduacoes .container .modalFaixaMarrom .modalfaixamarrom h2 {
    /* border: 1px solid red; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.graduacoes .container .modalFaixaMarrom .modalfaixamarrom p {
    /* border: 1px solid blue; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* FAIXA PRETA */
.modalFaixaPreta {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalFaixaPreta .modalfaixapreta {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modalFaixaPreta .modalfaixapreta img {
    width: 120%;
    height: 100%;
    cursor: pointer;
}

.modalFaixaPreta.abrirfaixapreta {
    display: flex;
}

@keyframes abrirfaixapreta {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrirfaixapreta .modalfaixapreta {
    animation: abrirfaixa 0.5s;
}

.fecharfaixapreta {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* ASSOCIAÇÃO */
.modalAsso {
    width: 60%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    margin: 2% 20%;
    border-radius: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 1000px rgba(0, 0, 0, 0.491);
}

.modalAsso .modalassociacao {
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    background-color: rgba(235, 144, 144, 0.75);
    backdrop-filter: blur(10px);
    height: 70%;
    padding: 10%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

/* .modalAsso .modalassociacao img {
    width: 120%;
    height: 100%;
    cursor: pointer;
} */

.modalAsso.abrir {
    display: flex;
}

@keyframes abrir {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modalAsso {
    animation: abrirfaixa 0.5s;
}

.fechar {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 0;
    background-color: rgb(116, 54, 54);
    color: white;
    font-size: 20px;
    cursor: pointer;
}